<div class="container-fluid bg-dark text-bg-dark position-absolute h-100 pt-10">
    <div class="row">
        <div class="col text-center">
            <h1 class="mb-5">Welcome to nagarro communities</h1>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <h4>Find Solutions. Ask Questions. Share Ideas. </h4>
            <h4>Connect with nagarrians across the world. </h4>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col text-center">

            <h5> {{totalQuestions}} </h5>
            <span> Questions asked</span>
        </div>
        <div class="col text-center">
            <h4> {{closedQuestions}} </h4>
            <span>Questions closed</span>
        </div>
        <div class="col text-center">
            <h5> {{totalUsers}} </h5>
            <span>Total users</span>
        </div>
    </div>
</div>