/* You can add global styles to this file, and also import other style files */

body {
    background-color: #f3f3f3;
}

.text-xs-center {
  text-align: center !important;
}

.form-group {
  margin-bottom: 1rem;
}

.danger-color {
    color: red;
}

.navbar-nav .nav-item {
    float: left
}

.navbar-nav .nav-link {
    display: block;
    padding-top: .425rem;
    padding-bottom: .425rem
}

.navbar-nav .nav-link+.nav-link {
    margin-left: 1rem
}

.navbar-nav .nav-item+.nav-item {
    margin-left: 1rem
}

.form-floating {
    label {
        opacity: 0.5;
        span {
            opacity: 1;
        }
    }
}

.btn-link {
    text-decoration: none;
}


// utility classes

.et-fs-1 {
    font-size: 1rem !important;
}

.et-w-90 {
    width: 90% !important;
}

.et-p-0 {
    padding: 0 !important;
}

.et-bold-text {
    font-weight: bold !important;
}


.pull-xs-left {
    float: left!important
}

.pull-xs-right {
    float: right!important
}

.pull-xs-none {
    float: none!important
}

@media(min-width: 544px) {
    .pull-sm-left {
        float:left!important
    }

    .pull-sm-right {
        float: right!important
    }

    .pull-sm-none {
        float: none!important
    }
}

@media(min-width: 768px) {
    .pull-md-left {
        float:left!important
    }

    .pull-md-right {
        float: right!important
    }

    .pull-md-none {
        float: none!important
    }
}

@media(min-width: 992px) {
    .pull-lg-left {
        float:left!important
    }

    .pull-lg-right {
        float: right!important
    }

    .pull-lg-none {
        float: none!important
    }
}

@media(min-width: 1200px) {
    .pull-xl-left {
        float:left!important
    }

    .pull-xl-right {
        float: right!important
    }

    .pull-xl-none {
        float: none!important
    }
}
